<!DOCTYPE html>
<html>
	<head>
		{% include header.html %}

		<title>{{ page.title }}</title>
	</head>

	<body>
		<!--导航条-->
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<ul class="nav">
						<li class="active">
							<a class="brand" href="#">眼高手低不好</a>
						</li>
						<li><a href="#">首页</a></li>
						<li><a href="#">分类</a></li>
						<li><a href="#">关于</a></li>

					</ul>

					<form class="navbar-search pull-left">
					  <input type="text" class="search-query" placeholder="Search">
					</form>

				</div>
			</div>
		</div>

		<!--内容-->
			<div class="container">
				<div class="row">

				</div>


			</div>

		


		<div>

			<% include footer.html %>
		</div>	

	</body>

</html>